/Sistemas Operacionais/SistemasOperacionais1/nbproject/private/
/Sistemas Operacionais/SistemasOperacionais1/build/
/.metadata/
/Engenharia de Software III/Quiz/nbproject/private/
/Engenharia de Software III/Quiz/build/
/POO/nbproject/private/
/POO/build/
/linguagemDeProgramacao/OddNumbers/nbproject/private/
/linguagemDeProgramacao/OddNumbers/build/
/linguagemDeProgramacao/OddNumbers/dist/
/linguagemDeProgramacao/hackerRank/nbproject/private/
/linguagemDeProgramacao/hackerRank/build/